node_modules
dist
build
.next
.turbo
out
coverage
*.log
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
apps/api/generated
packages/database/generated
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
minio-data
mysql-data
redis-data
